<header>
<!-- dynamic rendering of category title -->
   @switch (selectedCategory) { 
    @case("HTML"){
      <div class="category-title-container"><img src="/assets/images/icon-html.svg" alt=""><h3>{{selectedCategory}}</h3></div>
  } @case ("CSS") {
 <div class="category-title-container"><img src="/assets/images/icon-css.svg" alt=""><h3>{{selectedCategory}}</h3></div>  }
  @case ("JavaScript") {
      <div class="category-title-container"><img src="/assets/images/icon-js.svg" alt=""><h3>{{selectedCategory}}</h3></div>
  }
    @case ("Accessibility") {
       <div class="category-title-container"><img src="/assets/images/icon-accessibility.svg" alt=""><h3>{{selectedCategory}}</h3></div>
    
  }
  }
 
  <div class="toggle">
    <img src="/sun.svg" alt="sun" />
    <div>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider"></span>
      </label>
    </div>
    <img src="/moon.svg" alt="moon" />
  </div>
</header>

<ng-container>
  <!-- switch toggle -->
  <div>
    <img
      class="ellipse-white-1"
      src="/assets/images/Ellipse-white-1.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="ellipse-white-2"
      src="/assets/images/Ellipse-white-2.svg"
      alt=""
    />
  </div>

  <!-- quiz component -->
  @switch (selectedCategory) { 
    @case("HTML"){
      <app-questions
    [quizzes]="filteredCategoryQuizzes"
  />
  } @case ("CSS") {
     <app-questions  [quizzes]="filteredCategoryQuizzes" />
  }
  @case ("JavaScript") {
      <app-questions  [quizzes]="filteredCategoryQuizzes" />
  }
    @case ("Accessibility") {
    <app-questions  [quizzes]="filteredCategoryQuizzes" />
  }
  @default {
    <app-home (categorySelected)="onCategorySelect($event)" />
  } }

</ng-container>
