<header>
  <!-- dynamic rendering of category title -->
  <app-category-icon [selectedCategory]="selectedCategory" />

  <div class="toggle">
    <img src="/sun.svg" alt="sun" />
    <div>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider"></span>
      </label>
    </div>
    <img src="/moon.svg" alt="moon" />
  </div>
</header>

<ng-container>
  <!-- switch toggle -->
  <div>
    <img
      class="ellipse-white-1"
      src="/assets/images/Ellipse-white-1.svg"
      alt=""
    />
  </div>
  <div>
    <img
      class="ellipse-white-2"
      src="/assets/images/Ellipse-white-2.svg"
      alt=""
    />
  </div>

  <!-- quiz component -->
  @if (showScoreComponent) { <app-score [selectedCategory]="selectedCategory"  [correctAnswersCount]="correctAnswersCount" [quizzes]="quizzes" (quizReset)="onQuizReset()"/>}@else { @switch (selectedCategory) {
  @case("HTML"){
  <app-questions
    [quizzes]="filteredCategoryQuizzes"
    (quizFinished)="onQuizFinished($event)"
  />
  } @case ("CSS") {
  <app-questions
    [quizzes]="filteredCategoryQuizzes"
    (quizFinished)="onQuizFinished($event)"
  />
  } @case ("JavaScript") {
  <app-questions
    [quizzes]="filteredCategoryQuizzes"
    (quizFinished)="onQuizFinished($event)"
  />
  } @case ("Accessibility") {
  <app-questions
    [quizzes]="filteredCategoryQuizzes"
    (quizFinished)="onQuizFinished($event)"
  />
  } @default {
  <app-home (categorySelected)="onCategorySelect($event)" />
  } } }
</ng-container>
