<header>
  <div></div>
  <div class="toggle">
    <img src="/sun.svg" alt="sun" />
    <div>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider"></span>
      </label>
    </div>
    <img src="/moon.svg" alt="moon" />
  </div>
</header>

<ng-container>
  <div>
    <img class="ellipse-white-1" src="/assets/images/Ellipse-white-1.svg" alt="" />
  </div>
  <div><img class="ellipse-white-2" src="/assets/images/Ellipse-white-2.svg" alt="" /></div>
  <app-home />
</ng-container>
